<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MMS Page - Arsha Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <style>
    .intro-text {
      text-align: center;
      margin: 50px 0;
      font-size: 24px;
      font-weight: bold;
      line-height: 1.5;
    }

    .intro-text img {
      max-width: 50%;
      height: auto;
      display: block;
      margin: 20px auto;
    }

    .box {
      margin: 10px auto;
      text-align: center;
      display: flex;
      justify-content: center;
      margin-bottom: 25px;
    }

    .box .active {
      background-color: #5871a2;
      color: white;
    }

    .box table {
      width: 50%;
      border-collapse: separate;
      border-spacing: 5px 8px;
    }

    .box th,
    .box td {
      width: 10%;
      height: 10px;
      padding: 15px;
      text-align: center;
      cursor: pointer;
      vertical-align: middle;
      background-color: rgb(231, 231, 231);
      border-radius: 10px;
    }

    .box th {
      background-color: rgb(237, 237, 219);
    }
  </style>
</head>

<body>
<header id="header" class="fixed-top header-inner-pages">
  <div class="container d-flex align-items-center">
    <h1 class="logo me-auto"><a href="/">BIGK</a></h1>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="/">메인 홈</a></li>
        <li><a class="nav-link scrollto" href="#about">소개</a></li>
        <li><a class="nav-link scrollto" href="#services">서비스</a></li>
        <li class="dropdown"><a href="/notice"><span>R&D 사업</span> </a>
        <li th:if="${nickname}">
          <a class="nav-link scrollto" href="#mypage" th:text="${nickname}">[[${nickname}]]</a>
        </li>
        <li th:if="${nickname}">
          <a class="nav-link scrollto" href="/logout">로그아웃</a>
        </li>
        <li th:unless="${nickname}">
          <a class="nav-link scrollto" href="/login">로그인</a>
        </li>
        <li th:unless="${nickname}">
          <a class="nav-link scrollto" href="/join">회원가입</a>
        </li>
        <li><a class="getstarted scrollto" href="/mms">알림 받기</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>
</header>

<main id="main">
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <ol>
        <li><a href="/">메인 홈</a></li>
        <li>알림받기</li>
      </ol>
      <h2>사업 알림 받기</h2>
    </div>
  </section>

  <section class="inner-page">
    <h4 style="text-align: center;">[ 원하는 사업 키워드 클릭 ]</h4>
    <img src="assets/img/click.png" alt="클릭" style="max-width: 3%; height: auto; margin-left: 1080px; ">

    <div class="container">
      <div class="box" style="margin-top: 50px;">
        <table>
          <tr>
            <th id="category-0" class="category-button" onclick="toggleCategory(this)">인력 양성 사업</th>
            <th id="category-1" class="category-button" onclick="toggleCategory(this)">기술 개발 사업</th>
            <th id="category-2" class="category-button" onclick="toggleCategory(this)">자유/지정 공고</th>
          </tr>
        </table>
      </div>

      <div class="box">
        <table>
          <tr>
            <td id="field-0" onclick="toggleState(this)">우주</td>
            <td id="field-1" onclick="toggleState(this)">항공</td>
            <td id="field-2" onclick="toggleState(this)">국방</td>
            <td id="field-3" onclick="toggleState(this)">의료</td>
            <td id="field-4" onclick="toggleState(this)">자동차</td>
          </tr>
          <tr>
            <td id="field-5" onclick="toggleState(this)">일반소비가전</td>
            <td id="field-6" onclick="toggleState(this)">일반소비재</td>
            <td id="field-7" onclick="toggleState(this)">기계</td>
            <td id="field-8" onclick="toggleState(this)">화학</td>
            <td id="field-9" onclick="toggleState(this)">바이오</td>
          </tr>
          <tr>
            <td id="field-10" onclick="toggleState(this)">에너지</td>
            <td id="field-11" onclick="toggleState(this)">해양</td>
            <td id="field-12" onclick="toggleState(this)">IT</td>
            <td id="field-13" onclick="toggleState(this)">통신</td>
            <td id="field-14" onclick="toggleState(this)">건설/설비</td>
          </tr>
          <tr>
            <td id="field-15" onclick="toggleState(this)">선박</td>
            <td id="field-16" onclick="toggleState(this)">반도체</td>
            <td id="field-17" onclick="toggleState(this)">산림</td>
            <td id="field-18" onclick="toggleState(this)">광학</td>
            <td id="field-19" onclick="toggleState(this)">인공지능</td>
          </tr>
        </table>
      </div>

      <div class="box">
        <table>
          <tr>
            <td id="stage-0" onclick="toggleState(this)">소재/원재료</td>
            <td id="stage-2" onclick="toggleState(this)">공정/제조</td>
            <td id="stage-3" onclick="toggleState(this)">모듈</td>
          </tr>
          <tr>
            <td id="stage-4" onclick="toggleState(this)">SW</td>
            <td id="stage-5" onclick="toggleState(this)">제품</td>
            <td id="stage-6" onclick="toggleState(this)">통합시스템</td>
          </tr>
        </table>
      </div>

<!--      <div style="text-align: center; margin-top: 50px; margin-bottom: 20px;">-->
<!--        <button onclick="saveCategories()"-->
<!--                style="padding: 10px 30px; font-size: 20px; background-color: #34476d; color: white; border: none; border-radius: 5px; cursor: pointer;">-->
<!--          키워드 저장하기-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->

<!--    <br>-->
    <h6 style="text-align: center;">위에서 선택하신 키워드와 관련된 사업공고를 메일로 보내드립니다.</h6>
  </section>
</main>

<footer id="footer">
  <div class="footer-newsletter">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h4>메일 주소 입력</h4>
          <form id="emailForm" action="javascript:void(0);">
            <input type="email" id="emailInput" name="email" placeholder="이메일 주소를 입력하세요" required>
            <input type="submit" value="저장하기">
          </form>
          <br>
          <h5>구독 서비스로 주요 정부 사업 알림을 실시간 제공받을 수 있습니다.</h5>
        </div>
      </div>
    </div>
  </div>

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/js/main.js"></script>

  <script>
    function toggleCategory(element) {
      let buttons = document.getElementsByClassName('category-button');
      for (let button of buttons) {
        button.classList.remove('active');
      }
      element.classList.add('active');
    }

    function toggleState(element) {
      element.classList.toggle('active');
    }

    document.getElementById('emailForm').addEventListener('submit', function (e) {
      e.preventDefault();

      const email = document.getElementById('emailInput').value;
      const activeCategory = document.querySelector('.category-button.active')?.id || '';
      const activeFields = Array.from(document.querySelectorAll('.fields-table td.active')).map(field => field.id);
      const activeStages = Array.from(document.querySelectorAll('.stages-table td.active')).map(stage => stage.id);

      fetch('/mms/save', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          email: email,
          category: activeCategory,
          fields: activeFields,
          stages: activeStages
        }),
      })
      .then(response => response.json())
      .then(data => {
        console.log('Data saved successfully:', data);
        alert('이메일과 선택한 키워드가 저장되었습니다.');
      })
      .catch((error) => {
        console.error('Error:', error);
      });
    });
  </script>
</body>
</html>
