<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Inner Page - Arsha Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  
</head>

<body>
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center">
      <h1 class="logo me-auto"><a href="/">BIGK</a></h1>
      <nav id="navbar" class="navbar">
          <li><a class="nav-link scrollto active" href="/">메인 홈</a></li>
          <li><a class="nav-link scrollto" href="#about">소개</a></li>
          <li><a class="nav-link scrollto" href="/notice">서비스</a></li>
          <li class="dropdown"><a href="#"><span>R&D 사업</span></a>
          <li th:if="${nickname}">
            <a class="nav-link scrollto" href="#mypage" th:text="${nickname}">[[${nickname}]]</a>
          </li>
          <li th:if="${nickname}">
            <a class="nav-link scrollto" href="/logout">로그아웃</a>
          </li>
          <li th:unless="${nickname}">
            <a class="nav-link scrollto" href="/login">로그인</a>
          </li>
          <li th:unless="${nickname}">
            <a class="nav-link scrollto" href="/join">회원가입</a>
          </li>
          <li><a class="getstarted scrollto" href="/mms">알림 받기</a></li>
      </nav>
    </div>
  </header>

  <main id="main">
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a href="../template/index.html">메인 홈</a></li>
          <li>R&D 사업</li>
        </ol>
        <h2>사업 공고</h2>
      </div>
    </section>

    <section class="inner-page">
      <div class="container">
        <div class="search-container" style="margin-bottom: 60px;">
          <input type="text" id="search-input" class="search-input" placeholder="사업 공고명을 입력하시거나, 사업 키워드를 입력하세요">
          <button id="search-button" onclick="search()" class="search-button">검색</button>
        </div>

        <div class="status-container">
          <button id="status-2" class="status-button" onclick="toggleStatus(this)">접수예정</button>
          <button id="status-1" class="status-button" onclick="toggleStatus(this)">접수중</button>
          <button id="status-0" class="status-button" onclick="toggleStatus(this)">마감 </button>
        </div>

        <div class="table-container" style="margin-top: 50px;">
          <table>
            <tr>
              <h5>사업 분류</h5>
              <th id="category-0" class="category-button" onclick="toggleCategory(this)">인력 양성 사업</th>
              <th id="category-1" class="category-button" onclick="toggleCategory(this)">기술 개발 사업</th>
              <th id="category-2" class="category-button" onclick="toggleCategory(this)">자유/지정공고</th>
            </tr>
          </table>
        </div>
        <div class="table-container">
          <table class="fields-table">
            <tr>
              <h5>분야</h5>
              <td id="field-0" onclick="toggleState(this)">우주</td>
              <td id="field-1" onclick="toggleState(this)">항공</td>
              <td id="field-2" onclick="toggleState(this)">국방</td>
              <td id="field-3" onclick="toggleState(this)">의료</td>
              <td id="field-4" onclick="toggleState(this)">자동차</td>
              <td id="field-5" onclick="toggleState(this)">일반소비가전</td>
              <td id="field-6" onclick="toggleState(this)">일반소비재</td>
              <td id="field-7" onclick="toggleState(this)">기계</td>
              <td id="field-8" onclick="toggleState(this)">화학</td>
              <td id="field-9" onclick="toggleState(this)">바이오</td>
            </tr>
            <tr>
              <td id="field-10" onclick="toggleState(this)">에너지</td>
              <td id="field-11" onclick="toggleState(this)">해양</td>
              <td id="field-12" onclick="toggleState(this)">IT</td>
              <td id="field-13" onclick="toggleState(this)">ICT통신</td>
              <td id="field-14" onclick="toggleState(this)">건설/설비</td>
              <td id="field-15" onclick="toggleState(this)">선박</td>
              <td id="field-16" onclick="toggleState(this)">반도체</td>
              <td id="field-17" onclick="toggleState(this)">산림</td>
              <td id="field-18" onclick="toggleState(this)">광학</td>
              <td id="field-19" onclick="toggleState(this)">인공지능</td>
            </tr>
          </table>
        </div>

        <div class="table-container">
          <table class="stages-table">
            <tr>
              <h5>단계</h5>
              <td id="stage-0" onclick="toggleState(this)">소재/원재료</td>
              <td id="stage-1" onclick="toggleState(this)">공정/제조</td>
              <td id="stage-2" onclick="toggleState(this)">모듈</td>
            </tr>
            <tr>
              <td id="stage-3" onclick="toggleState(this)">소프트웨어</td>
              <td id="stage-4" onclick="toggleState(this)">제품</td>
              <td id="stage-5" onclick="toggleState(this)">통합시스템</td>
            </tr>
          </table>
        </div>
      </div>

      <div>
        <div class="results-container">
          <h2>검색결과</h2>
          <table class="results-table">
            <thead>
            <tr>
              <th>공고 현황</th>
              <th>부처명</th>
              <th>공고명</th>
              <th>접수일</th>
              <th>마감일</th>
              <th>링크</th>
            </tr>
            </thead>
            <tbody id="results-body">
            <!-- 공고 데이터가 여기에 동적으로 추가됩니다 -->
<!--            <tr th:each="notice : ${notices}">-->
<!--              <td th:text="${notice.status}">공고 현황</td>-->
<!--              <td th:text="${notice.department}">부처명</td>-->
<!--              <td th:text="${notice.name}">공고명</td>-->
<!--              <td th:text="${#dates.format(notice.start_day, 'yyyy-MM-dd')}">접수일</td>-->
<!--              <td th:text="${#dates.format(notice.end_day, 'yyyy-MM-dd')}">마감일</td>-->
<!--              <td><a th:href="${notice.link}" th:text="'바로가기'" target="_blank">링크</a></td>-->
<!--            </tr>-->
            </tbody>
          </table>
        </div>
        <div class="pagination" id="pagination"></div>
      </div>
    </section>
  </main>

  <footer id="footer">
    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Arsha</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer>

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/js/main.js"></script>
  <script>
    function search() {
      let query = document.getElementById('search-input').value;

      const activeStatuses = Array.from(document.querySelectorAll('.status-button.active')).map(button => button.id).join(',');
      const activeCategories = Array.from(document.querySelectorAll('.table-container th.active')).map(category => category.id).join(',');
      const activeStages = Array.from(document.querySelectorAll('.stages-table td.active')).map(stage => stage.id).join(',');
      const activeFields = Array.from(document.querySelectorAll('.fields-table td.active')).map(field => field.id).join(',');

      // 동적으로 폼 생성
      const form = document.createElement('form');
      form.method = 'POST';
      form.action = '/search';

      // 폼 데이터 추가
      form.appendChild(createHiddenInput('query', query));
      form.appendChild(createHiddenInput('statuses', activeStatuses));
      form.appendChild(createHiddenInput('categories', activeCategories));
      form.appendChild(createHiddenInput('stages', activeStages));
      form.appendChild(createHiddenInput('fields', activeFields));

      document.body.appendChild(form);
      form.submit();
    }

    function createHiddenInput(name, value) {
      const input = document.createElement('input');
      input.type = 'hidden';
      input.name = name;
      input.value = value;
      return input;
    }

    function toggleStatus(element) {
      let buttons = document.getElementsByClassName('status-button');
      for (let button of buttons) {
        button.classList.remove('active');
      }
      element.classList.add('active');
    }
    function toggleCategory(element) {
      let buttons = document.getElementsByClassName('category-button');
      for (let button of buttons) {
        button.classList.remove('active');
      }
      element.classList.add('active');
    }
    function toggleState(element) {
      element.classList.toggle('active');
    }
  </script>
  <script th:inline="javascript">
    /*<![CDATA[*/
    var notices = /*[[${notices}]]*/ [];
    const totalRows = notices.length;
    const rowsPerPage = 20;
    const maxPageButtons = 10; // 한 번에 표시할 최대 페이지 버튼 수
    let currentPage = 1;

    function createPagination(totalRows) {
      const totalPages = Math.ceil(totalRows / rowsPerPage);
      const paginationContainer = document.getElementById('pagination');
      paginationContainer.innerHTML = '';

      const firstButton = createPaginationButton('«', 1);
      const prevButton = createPaginationButton('‹', currentPage > 1 ? currentPage - 1 : 1);
      paginationContainer.appendChild(firstButton);
      paginationContainer.appendChild(prevButton);

      let startPage = Math.max(currentPage - Math.floor(maxPageButtons / 2), 1);
      let endPage = Math.min(startPage + maxPageButtons - 1, totalPages);

      if (endPage - startPage < maxPageButtons - 1) {
        startPage = Math.max(endPage - maxPageButtons + 1, 1);
      }

      for (let i = startPage; i <= endPage; i++) {
        const button = createPaginationButton(i, i);
        if (i === currentPage) {
          button.classList.add('active');
        }
        paginationContainer.appendChild(button);
      }

      const nextButton = createPaginationButton('›', currentPage < totalPages ? currentPage + 1 : totalPages);
      const lastButton = createPaginationButton('»', totalPages);
      paginationContainer.appendChild(nextButton);
      paginationContainer.appendChild(lastButton);
    }

    function createPaginationButton(text, page) {
      const button = document.createElement('button');
      button.innerText = text;
      button.classList.add('pagination-button');
      button.onclick = function() {
        currentPage = page;
        displayPage(currentPage);
        createPagination(totalRows);
      };
      return button;
    }

    function displayPage(page) {
      const resultsBody = document.getElementById('results-body');
      resultsBody.innerHTML = '';
      const start = (page - 1) * rowsPerPage;
      const end = Math.min(start + rowsPerPage, totalRows);

      for (let i = start; i < end; i++) {
        const row = document.createElement('tr');
        let statusText;
        switch (notices[i].status) {
          case 0:
            statusText = '마감';
            break;
          case 1:
            statusText = '접수중';
            break;
          case 2:
            statusText = '접수 예정';
            break;
          default:
            statusText = '전체';
        }

        row.innerHTML = `
        <td>${statusText}</td>
        <td>${notices[i].department}</td>
        <td>${notices[i].name}</td>
        <td>${new Date(notices[i].start_day).toISOString().slice(0, 10)}</td>
        <td>${new Date(notices[i].end_day).toISOString().slice(0, 10)}</td>
        <td><a href="${notices[i].link}" target="_blank">바로가기</a></td>
      `;
        resultsBody.appendChild(row);
      }
    }

    document.addEventListener('DOMContentLoaded', function() {
      createPagination(totalRows);
      displayPage(currentPage);
    });
    /*]]>*/
  </script>

  <style>
    .pagination {
      display: flex;
      justify-content: center;
      padding: 20px;
    }

    .pagination button {
      border: none;
      padding: 10px 15px;
      margin: 5px;
      background: #f2f2f2;
      cursor: pointer;
    }

    .pagination button.active {
      background: #6c757d;
      color: white;
    }

    .pagination button.disabled {
      cursor: not-allowed;
      background: #e9ecef;
    }
  </style>

  

</body>

</html>