<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">>

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Arsha Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">


  <!-- Google Fonts -->
  <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">


</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-auto"><a href="/">Big K</a></h1>

      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->
<body>
  <table>
    <tbody>
    <tbody>
    <tr th:each="notice : ${notices}">
      <td th:text="${notice.id}"></td>
<!--      <td th:text="${notice.status}"></td>-->
      <td th:text="${notice.department}"></td>
      <td th:text="${notice.name}"></td>
      <td th:text="${#dates.format(notice.start_day, 'yyyy-MM-dd')}"></td>
      <td th:text="${#dates.format(notice.end_day, 'yyyy-MM-dd')}"></td>
      <td><a th:href="${notice.link}" th:text="${notice.link}"></a></td>
      <td th:text="${notice.category}"></td>
      <td th:text="${notice.stage}"></td>
      <td th:text="${notice.field}"></td>
      <td th:text="${notice.update_flag}"></td>
    </tr>
    </tbody>
<!--    <tr>-->
<!--      <th>Status</th>-->
<!--      <td th:text="${notice.status}">Status</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>Department</th>-->
<!--      <td th:text="${notice.department}">Department</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>Name</th>-->
<!--      <td th:text="${notice.name}">Name</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>Start Day</th>-->
<!--      <td th:text="${#dates.format(notice.start_day, 'yyyy-MM-dd')}">Start Day</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>End Day</th>-->
<!--      <td th:text="${#dates.format(notice.end_day, 'yyyy-MM-dd')}">End Day</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>Link</th>-->
<!--      <td><a th:href="${notice.link}" th:text="'바로가기'" target="_blank">Link</a></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>Category</th>-->
<!--      <td th:text="${notice.category}">Category</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>Stage</th>-->
<!--      <td th:text="${notice.stage}">Stage</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>Field</th>-->
<!--      <td th:text="${notice.field}">Field</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>Update Flag</th>-->
<!--      <td th:text="${notice.update_flag}">Update Flag</td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
</body>

</html>